<div class="jumbotron">

	<h3><a href="#/contatos">{{appName}}</a></h3>

	<form name="contatoForm">
		<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="3">
		<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{1,9}$/">
		<input class="form-control" type="text" ng-model="contato.data" name="data" placeholder="Data (dd/mm/yyyy)" ui-date>
		<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' (' + (operadora.preco | currency) + ') ' group by operadora.categoria for operadora in operadoras | orderBy:['categoria','nome']">
			<option value="">Selecione uma operadora</option>
		</select>
	</form>

	<div ng-messages="contatoForm.nome.$error" ng-show="!contatoForm.nome.$pristine && contatoForm.nome.$invalid" class="alert alert-danger">
		<div ng-message="required" ng-if="contatoForm.nome.$dirty">Favor preencher o nome</div>
		<div ng-message="minlength">O nome deve ter no mínimo 3 caracteres</div>
	</div>

	<div ng-messages="contatoForm.telefone.$error" ng-show="!contatoForm.telefone.$pristine && contatoForm.telefone.$invalid" class="alert alert-danger">
		<div ng-message="required" ng-if="contatoForm.telefone.$dirty">Favor preencher o telefone</div>
		<div ng-message="pattern">Telefone no formato 123456789</div>
	</div>

	<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar</button>
</div>